<section class="blog-content blog-detail container-fluid">
	<div class="blog-title-wrapper row">
		<div class="col-md-9 blog-title">
			<a href="#" [routerLink]="['/blog', blog.title]"><h2>{{ blog.title }}</h2></a>
		</div>
		
		<div class="col-md-2 blog-date">
			<span>Created on {{ blog.createDate | date }}</span> 
			<br/>
			<span>Modified on {{ blog.editDate | date }}</span> 
		</div>
		
		<div class="col-md-1 blog-control">
			<span class="glyphicon glyphicon-pencil"></span> 
		</div>
	</div>
	
	<div class="blog-parts" [ngbCollapse]="blog.showContent() == 0">
		<div *ngFor="let part of blog.content.slice(0, blog.showContent())">
			<div *ngIf="part.type() == 'text'">
			TEXT
			</div>
			
			<div *ngIf="part.type() == 'code'">
			CODE
			</div>
			
			<div *ngIf="part.type() == 'image'">
			IMAGE
			</div>
		</div>
	</div>
	
</section>