.blog-content .blog-title {
	color: #101010;
	font-family: Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif; 
	font-size: 22px;
	margin-top: 0px;
	margin-bottom: 10px;
}

.blog-content a, .blog-content a:hover, .blog-content a:visited{
	text-decoration: none;
}

.blog-date, .blog-control, .blog-control a, .blog-toggle  {
	color: #9d9d9d;
	font-size: 10px;
	white-space: nowrap;
	overflow: hidden;
	padding-top: 0px;
	margin-bottom: 10px;
}

.blog-toggle {
	margin: 5 0 5 0;
}

.blog-toggle span {
	cursor: hand
}

.blog-part-code, .blog-part-code code {
	font-size: 15px;
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
}

.blog-part-text p {
	margin: 5 0 5 0;
	font-size: 15px;
	white-space: pre;
}

.blog-part-text h1, .blog-part-text h2, .blog-part-text h3 {
	margin: 5 0 5 0;
	font-size: 15px;
	font-weight: bold;
}