.blog-content a h2 {
	color: black;
}

.blog-content a, .blog-content a:hover, .blog-content a:visited {
	text-decoration: none;
}

.blog-title-wrapper {
	
}

@media (min-width: 992px) {
	blog-date, .blog-control {
		float: none;
		display: table-cell;
		vertical-align: bottom;
	}
}

.blog-date {
	color: #9d9d9d;
	font-size: 10px;
	white-space: nowrap;
	overflow: hidden;
	padding-bottom: 10px;
}

.blog-control {
	color: #9d9d9d;
	font-size: 10px;
	padding-bottom: 13px;
}