<section class="blog-content blog-edit">
	<form (ngSubmit)="save()" #blogForm="ngForm" [class.overlayed]="saving">
		<div class="form-group">
			<!-- Title -->
			<input type="text" class="form-control" required [(ngModel)]="blog.title" name="title" #titleInput="ngModel" placeholder="Title"/>
			<div [hidden]="titleInput.valid || titleInput.pristine" class="alert alert-danger">Title is required</div>
		</div>
		<div class="form-group">
			<!-- Content -->
			<div class="blog-parts">
				<div class="blog-part" *ngFor="let part of blog.content; let i = index" [attr.data-index]="i">
					
					<!-- ngSwitch with typeof not working, so using ngIf all the way -->
					<div class="blog-part-text" *ngIf="part.type() == 'text'">
						<input type="text" class="form-control" [(ngModel)]="part.heading" name="heading" placeholder="Heading"/>
						<br/>
						<textarea [(ngModel)]="part.text" name="text"></textarea>
					</div>
					
					<div class="blog-part-code" *ngIf="part.type() == 'code'">
						<textarea [(ngModel)]="part.code" name="code"></textarea>
					</div>
					
					<div class="blog-part-image" *ngIf="part.type() == 'image'">
						<!-- TODO -->
					</div>
					
					<div class="form-group blog-control">
						<!-- Controls -->
						<span class="glyphicon glyphicon-edit" (click)="addText(i)"></span>
						<span class="glyphicon glyphicon-barcode" (click)="addCode(i)"></span>
						<span class="glyphicon glyphicon-picture" (click)="addImage(i)"></span>
						<span *ngIf="i > 0" class="glyphicon glyphicon-remove" (click)="remove(part)"></span>
					</div>
				</div>
			</div>			
		</div>
		
		<div class="form-group">
			<!-- Controls -->
			<button type="submit" class="btn btn-default" [disabled]="!blogForm.form.valid">Save</button>
		</div>
	</form>
</section>