<section class="blog-content blog-detail container-fluid">
	<!-- Header -->
	<div class="blog-title-wrapper row">
		<div class="col-md-9 blog-title">
			<a href="#" [routerLink]="['/blog', blog.title]"><h2 class="blog-title">{{ blog.title }}</h2></a>
		</div>
		
		<div class="col-md-2 blog-date">
			<span>Created on {{ blog.createDate | date }}</span> 
			<br/>
			<span>Modified on {{ blog.editDate | date }}</span> 
		</div>
		
		<div class="col-md-1 blog-control">
			<a href="#" [routerLink]="['/edit', blog.title]"><span class="glyphicon glyphicon-pencil"></span></a>
		</div>
	</div>
	
	<!-- Content -->
	<div class="blog-parts"><!-- [ngbCollapse]="blog.showContent() == 0" -->
		<div class="blog-part" *ngFor="let part of blog.content.slice(0, blog.showContent())">
			<!-- ngSwitch with typeof not working, so using ngIf all the way -->
			<div class="blog-part-text" *ngIf="part.type() == 'text'">
				<h3>{{ part.heading }}</h3>
				<p [innerHtml]="part.text"></p>
			</div>
			
			<div class="blog-part-code" *ngIf="part.type() == 'code'">
				<pre><code [innerHtml]="part.code"></code></pre>
			</div>
			
			<div class="blog-part-image" *ngIf="part.type() == 'image'">
				<!-- TODO -->
			</div>
		</div>
	</div>
	
	<!-- Toggle -->
	<div class="blog-toggle blog-control">
		<span (click)="blog.toggleContent()">{{ blog.showContent() == blog.content.length ? 'Show less...' : 'Show more...' }}</span>
	</div>
	
	<!-- Footer -->
	<div class="blog-footer-wrapper">
		
	</div>
	
</section>