.app-content a, .app-content a:hover, .app-content a:visited {
	text-decoration: none;
}

.app-content {
	text-align: justify;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	padding: 20px;
}

.app-content-wrapper {
	text-align: center;
	padding-top: 32px;
}